@{
    ViewData["Title"] = "Register";
}

@using StoreManager.Models
@model RegisterModel

<h2>@ViewData["Title"]</h2>

<form asp-action="Register" method="post">
    <div>
        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName" />
    </div>

    <div>
        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName" />
    </div>

    <div>
        <label asp-for="Username">Username:</label>
        <input asp-for="Username" />
    </div>

    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" />
    </div>

    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" />
    </div>

    <div>
        <label asp-for="DateOfBirth">Date of Birth:</label>
        <input asp-for="DateOfBirth" type="date" />
    </div>

    <div>
        <button type="submit">Register</button>
    </div>
</form>